


<div class="row">
  <div class="col-sm-6">
    <h1>Notes</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_note_path, class: 'btn btn-primary' do %>
    Add New Note
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Title</th>
            <th>User</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @notes.each do |note| %>
        <%= content_tag :tr, id: dom_id(note), class: dom_class(note) do %>
          

                      <td><%= note.title %></td>
                      <td><%= note.user_id %></td>
          
          
            <td><%= link_to 'Show', note %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
