 <br>
                <div class="jumbotron">
                  <h2>Aplica a Hablame</h2>
                </div>
                <br>
  <div class="row" >
    <div class="col col-md-1 col-sm-1 col-1" style=""></div>

    <div class="col col-md-10 col-sm-10 container-fluid">

               

                <div class="alert alert-primary" role="alert">
                  Para iniciar sesion, <%= render "doctors/shared/links" %></div>

                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                <%= f.input :name , 
                required: true,
                label: 'Nombre Completo', 
                autofocus: true,
                input_html: { autocomplete: "Name" }%>

                  <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }%>

                  <%= f.input :password,
                          label: 'Contraseña',
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>

                  <%= f.input :password_confirmation,
                          label: 'Confirmación Contraseña',
                          required: true,
                          input_html: { autocomplete: "new-password" } %>

                  <%= f.input :description, as: :text, label: 'Hablenos de su experiencia como psicólogo', required: true %>
                  <%= f.input :birthday, as: :date,start_year: Time.now.year - 100,
                  end_year: Time.now.year - 18, label: 'Fecha de nacimiento', required: true %>

                  <%= f.input :college,
                          label: 'Universidad',
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "college" }%>

                  <%= f.input :curriculum_path,
                          label: 'Favor subir su Hoja de Vida en PDF',
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "college" }%>


                  <%= f.input :collegiate_id,
                          label: 'Introduzca su número de colegiación del Colegio de psicólogos de Honduras',
                          autofocus: true,
                          input_html: { autocomplete: "college_id" }%>


                </div>

                <div class="alert alert-info text-dark" role="alert"><i class="fas fa-info-circle"></i>&nbsp; Tenga en cuenta que tiene que ser aprobado para poder ingresar a Háblame, favor estar pendiente de su correo.</div>

                <div class="form-actions">
                  <%= f.button :submit, "Aplicar" , class: 'btn btn-primary' %>
                </div>
                <% end %>
                <br>
                <br>


                
      
    </div>
    <div class="col col-md-1 col-sm-1 col-1"</div>
  </div>
