<div class="jumbotron bg-dark">
  <h4 class="title" style="color:white;"><i class="fa fa-inbox" aria-hidden="true"></i> &nbsp; Conversaciones/Bandeja de Entrada</h4>
</div>


<div class="card-columns  animated fadeInDown">
<% @conversations.each do |conversation| %>
<% @recipient = conversation.participants.find { |p| p != current_member } %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
      <h5 class="card-title"><%=conversation.subject%></h5>
      <%= gravatar_tag @recipient.email,:circle, :size => 150, :html => { :class => "img img-fluid card-header" } , :secure => true %>
<hr>
<%if current_user %>
	 <h6 class="card-subtitle mb-2 text-muted">Con: Lic.&nbsp; <%= @recipient.name %></h6>
    <hr>
<%else%>
 <h6 class="card-subtitle mb-2 text-muted">Con: &nbsp; <%= @recipient.name %></h6>
    <hr>
<%end%>
   
    <%= link_to "Ver mensajes", conversation_path(conversation), class: 'btn btn-primary' %>
    
  </div>
</div>
<% end %>
</div>  

