<div class="jumbotron bg-dark">
  <h4 class=""  style="color:white;">Nueva Conversacion con <%=@recipients.name%></h4>
</div>

<div class="container-fluid" style="padding-top:2em;">
  <div class="row">
    <div class="col-2" align="center"></div>
    <div class="col-8" >
        <%= form_tag conversations_path, method: :post do %>
        <%= hidden_field_tag(:user_id, "#{params[:doctor_id]}") %>
        <div>
          <%= text_field_tag :subject, nil, placeholder: "Asunto" %>
        </div>
      
        <div>
          <%= text_area_tag :body, nil, placeholder: "Manda tu mensaje" %>
        </div>
      
        <%= submit_tag %>
      <% end %>
    </div>
    <div class="col-2" align="center"></div>
  </div>
</div>


		


						



