<h1><%=@conversation.subject %></h1>
<% @conversation.receipts_for(current_member).each do |receipt|%>
    <p><%= receipt.message.sender.name%> dijo: &nbsp; <%= receipt.message.body%></p>
    <div id="msg">
       
    </div>
<%end%>

<%= form_tag conversation_messages_path(@conversation), method: :post do%>
<div>
 <%= text_area_tag :body%>
</div>
 <%= submit_tag %>
<%end%>