<div >
  
                        <div class="jumbotron container bg-dark text-light" >
                          
                            <%= render "walls/patientinfo.html.erb"%>
                        </div>

             
              
                        <!--Chat va aqui-->
                        <div class="form-group">
                                
                              <div class="scrolleame bg-dark">
                                    <section>
                                     <% @conversation.receipts_for(current_member).each do |receipt|%>
                                            <p><%= receipt.message.sender.name%> dijo: &nbsp; <%= receipt.message.body%></p>
                                    <%end%>
                                    <div id="msg">
                                
                                    </div>
                                </section>
                             </div>
                             <hr>
                             <%= form_tag conversation_messages_path(@conversation), method: :post do%>
                                        <div>
                                                <%= text_area_tag :body ,nil, class: "form-control-lg", id:"sample5", placeholder: "Introduce un mensaje...", :rows => 10, style: 'width:100%;' %>
                                        </div >
                                        <button class="btn btn-outline-success bg-dark" id="tte">
                                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                          &nbsp; Enviar
                                              </button>
                            <%end%>
                            


                        <!--Chat termina aqui-->
                
			<% if current_doctor%>
                    
                                <%= render "walls/notes.html.erb"%>
                        
			<%end%>
