<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <div class="jumbotron">
                            <h1 class="display-4">Consulta en linea</h1>
                            <% recipient = @conversation.participants.find { |p| p != current_member } %>
                            <p class="lead"><span class="text-dark"><%=recipient.name%></span> y <span class="text-primary"><%=current_member.name%> (yo)</span></p>
                            <hr class="my-4">
                            <p><%=@conversation.subject %></p>
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="container">
                        <!--Chat va aqui-->
                        <div class="form-group">
                                
                                <div class="scrolleame bg-light">
                                     <% @conversation.receipts_for(current_member).each do |receipt|%>
                                        <section>
                                            <p><%= receipt.message.sender.name%> dijo: &nbsp; <%= receipt.message.body%></p>
                                    <%end%>
                                    <div id="msg">
                                
                                    </div>
                                </section>
                             </div>
                             <hr>
                             <%= form_tag conversation_messages_path(@conversation), method: :post do%>
                                        <div class="container-fluid ">
                                                <%= text_area_tag :body,nil, class: "form-control-lg", id:"sample5", placeholder: "Introduce un mensaje...", :rows => 10, style: 'width:100%;' %>
                                        </div >
                                        <button class="btn btn-outline-success bg-dark" id="tte">
                                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                          &nbsp; Enviar
                                              </button>
                            <%end%>


                        <!--Chat termina aqui-->
                    </div>
                    <% if current_doctor %>
                    <div class="col-md-6">
                        <!--Ficha va aqui-->
                            <div class="jumbotron">
                                <h1>Informacion de Paciente</h1>
                                <p>Edad: <%=recipient.age%></p>
                                <p>Resumen del paciente: </p>
                                <p><%=recipient.username%></p>
                                <p> Ingresar notas: </p>

                                <%= form_for(@user, url: edit_user_path, method: :get) do |f| %>
                                    <%= f.label :body %>
                                    <%= f.rich_text_area :body, class: 'form-control' %>
                                <% end %>
                                
                            </div>

                        <!--Ficha termina aqui-->
                    </div>
                    <%end%>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
    </div>