<div >
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <div class="jumbotron container bg-dark text-light" >
                          
                            <%= render "walls/patientinfo.html.erb"%>
                        </div>
                    </div>
                    <div class="col-md-1" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"  >
                    </div>
                    <div class="col-md-5" >
                        <!--Chat va aqui-->
                        <div class="form-group">
                                
                                <div class="scrolleame bg-dark"  id="msg">
                                    <section>
                                     <% @conversation.receipts_for(current_member).each do |receipt|%>
                                            <p><%= receipt.message.sender.name%> dijo: &nbsp; <%= receipt.message.body%></p>
                                    <%end%>
                             
                                </section>
                             </div>
                             <hr>
                             <%= form_tag conversation_messages_path(@conversation), method: :post do%>
                                        <div>
                                                <%= text_area_tag :body ,nil, class: "form-control-lg", id:"sample5", placeholder: "Introduce un mensaje...", :rows => 10, style: 'width:100%;' %>
                                        </div >
                                        <button class="btn btn-outline-success bg-dark" id="tte">
                                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                          &nbsp; Enviar
                                              </button>
                            <%end%>
                            


                        <!--Chat termina aqui-->
                    </div>
                    </div>
			<% if current_doctor%>
                        <div class="col col-md-5">
                                <%= render "walls/notes.html.erb"%>
                        </div>
			<%end%>
                    <div class="col col-md-1" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=row >
        <div class="col col-md-1"></div>
        
        <div class="col col-md-1"></div>
    </div>
