



<div class="row">
	<div class="col col-md-1 "></div>


		<div class="col col-md-10">
				    <div class="jumbotron text-center">
				    	<h1>¡Hola! , ¡Gracias por Ayudar!</h1>
				    </div>
				    <br>
            <div class="alert alert-info text-dark" role="alert"><i class="fas fa-info-circle"></i>&nbsp; Tenga en cuenta que tiene que ser aprobado para poder ingresar a Háblame, favor estar pendiente de su correo.</div>
            <br>
				    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				    <br>
				      <div class="form-group container">
				        <%= f.email_field :email, autofocus: true, placeholder: 'Dirección de Correo', class: 'form-control' %>
				        <br>
				        <%= f.password_field :password, autocomplete: "off", placeholder: 'Contraseña', class: 'form-control' %>
				           <% if devise_mapping.rememberable? -%>
				        <div class="form-check">
				          <label class="form-check-label">
				            <%= f.check_box :remember_me, class: "form-check-input" %>
				            Recuerdame
				          </label>
				        </div>
				      <% end -%>
				      <br>
						<%= f.submit "Inicia Sesión", class: "btn btn-primary btn-block btn-lg" %>
						<div class="text-center">
				      <%= render "doctors/shared/links" %>
				    </div>
				      </div>



				      <br>
				    
				    <% end %>
	</div>
  <div class="col col-md-1"></div>
</div>
