<h1>Chats</h1>
<div id="msg">
</div>



<%= form_for @chat, remote: true do |f| %>
<%= f.hidden_field :room_id, @room_max %>
  <%= f.text_field :message %>
  <!-- Verificando que el room id que se -->
  <%if Room.find_by_id(@roommax)>
    <%= form_for @room, remote: true do |g| %>
      <%= g.hidden_field :user_id, current_user.id %>
      <%= g.hidden_field :doctor_id, params[:doctor_id] %>
    <%end%>
<%end%>
  <%= f.submit %>
<%end%>

