
<div class="card animated fadeInDown bg-dark text-light" style="width: 18rem;">
		<div class="card-body">
		  <h5 class="card-title">Lic.&nbsp;<%=doctor.name.full%></h5>
		  <%= gravatar_tag @doctor ,:circle, :size => 150, :html => { :class => "img img-fluid card-header" }  %>
	  <hr>
		  <h6 class="card-subtitle mb-2 text-muted">Universidad:  <%= doctor.college %></h6>
		  <p class="card-text"><%= doctor.description %></p>

		  <% if current_doctor %>
				<% if doctor.id = current_doctor.id%>
					 <%= link_to "Regresar a Conversacion", conversation_path(:id => @conversation.id), class: 'btn btn-danger' %>
				<%else%>
					 <%= link_to "Enviar Mensaje", new_conversation_path(:doctor_id => doctor.id), class: 'btn btn-primary' %>
				<%end%>
		  <%else%>
					 <%= link_to "Enviar Mensaje", new_conversation_path(:doctor_id => doctor.id), class: 'btn btn-primary' %>
          <%end%>


		
		  

		  
		</div>
</div>
