<% if current_doctor %>
    <!--Ficha va aqui-->
 
<div class="form-group">
	<br>
        <%= form_for @note, remote: true do |f| %>
            <%= f.hidden_field(:doctor_id, :value =>  current_doctor.id)%>
            <%= f.hidden_field(:user_id,  :value => @user.id)%>
            <%= f.rich_text_area :body %>
            <%= f.submit 'Guardar',   :class => "btn btn-primary " %>
       <% end %>
    
</div>

    <!--Ficha termina aqui-->
<%end%>
