<% if current_doctor %>
    <!--Ficha va aqui-->
    <%conversation = current_member.mailbox.conversations.find(params[:id])%>

        <div class="jumbotron">
            <h1>Informacion de Paciente</h1>
            <p>Edad: <%=@user.age%></p>
            <p>Resumen del paciente: </p>
            <p><%=@user.username%></p>
            <p> Ingresar notas: </p>

            <%=conversation.id%>

       

            
        </div>

        <div class="container">
            <%= form_with model: @note, url: notes_path,:method => :POST,  local: true do |f| %>
            <%= f.rich_text_area :body %>
            <%= f.submit%>
           
        <% end %>
        </div>

    <!--Ficha termina aqui-->
<%end%>
