<% if current_doctor %>
    <!--Ficha va aqui-->
        <div class="jumbotron">
            <h1>Informacion de Paciente</h1>
            <p>Edad: <%=@user.age%></p>
            <p>Resumen del paciente: </p>
            <p><%=@user.username%></p>
            <p> Ingresar notas: </p>

            <div class="container">
            <%= form_with model: @user, url: user_registration_path,:method => :UPDATE,  local: true do |f| %>
            <%= f.rich_text_area :body %>
            <%= f.submit%>
           
        <% end %>
        </div>

            
        </div>

    <!--Ficha termina aqui-->
<%end%>
