


<div class="row">
	<div class="col col-md-1 container"></div>


		<div class="col col-md-10">
				    <div class="jumbotron text-center">
				    	<h1>¡Hola! , Hablemos</h1>
				    </div>
				    <br>
				    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				    <br>
				      <div class="form-group container">
				        <%= f.email_field :email, autofocus: true, placeholder: 'Dirección de Correo', class: 'form-control' %>
				        <br>
				        <%= f.password_field :password, autocomplete: "off", placeholder: 'Contraseña', class: 'form-control' %>
				           <% if devise_mapping.rememberable? -%>
				        <div class="form-check">
				          <label class="form-check-label">
				            <%= f.check_box :remember_me, class: "form-check-input" %>
				            Recuerdame
				          </label>
				        </div>
				      <% end -%>
				      <br>
						<%= f.submit "Inicia Sesión", class: "btn btn-primary btn-block btn-lg" %>
						<div class="text-center">
				      <%= render "devise/shared/links" %>
				    </div>
				      </div>



				      <br>
				    
				    <% end %>
	</div>
  <div class="col col-md-1"></div>
</div>
