<%= form_with(model: psychologist, local: true) do |form| %>
  <% if psychologist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(psychologist.errors.count, "error") %> prohibited this psychologist from being saved:</h2>

      <ul>
      <% psychologist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Nombre" %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Apellido" %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>


  <div class="form-group">
    <%= form.label "Número de colegiación" %>
    <%= form.text_field :collegiate_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Universidad en la que hizo sus estudios" %>
    <%= form.text_field :college, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Descripcion suya como profesional" %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Suba su curriculum" %>
    <%= form.text_field :curriculum, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Suba su foto" %>
    <%= form.text_field :photo, class: 'form-control' %>
  </div>


  <div class="form-group">
    <%= form.label :tags %>
    <%= form.text_field :tags, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Dirección de su consultorio (si lo tiene)" %>
    <%= form.text_field :office_address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if psychologist.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', psychologist, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit "Enviar aplicación",  class: 'btn btn-primary' %>

    <% if psychologist.persisted? %>
      <%= link_to "Cancelar", psychologist, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancelar", psychologists_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
