<div class="page-header">
  <%= link_to psychologists_path, class: 'btn btn-default' do %>
    All Psychologists
  <% end %>
  <%= link_to edit_psychologist_path(@psychologist), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show psychologist</h1>
</div>

<dl class="dl-horizontal">
  <dt>First name:</dt>
  <dd><%= @psychologist.first_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @psychologist.last_name %></dd>

  <dt>Status:</dt>
  <dd><%= @psychologist.status %></dd>

  <dt>Collegiate:</dt>
  <dd><%= @psychologist.collegiate_id %></dd>

  <dt>College:</dt>
  <dd><%= @psychologist.college %></dd>

  <dt>Description:</dt>
  <dd><%= @psychologist.description %></dd>

  <dt>Curriculum:</dt>
  <dd><%= @psychologist.curriculum %></dd>

  <dt>Photo:</dt>
  <dd><%= @psychologist.photo %></dd>

  <dt>Is approved:</dt>
  <dd><%= @psychologist.is_approved %></dd>

  <dt>Is active:</dt>
  <dd><%= @psychologist.is_active %></dd>

  <dt>Tags:</dt>
  <dd><%= @psychologist.tags %></dd>

  <dt>Office address:</dt>
  <dd><%= @psychologist.office_address %></dd>

</dl>
