<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>

  </head>

  <body class="grad text-dark">

    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>
    <div>
      <div class="row ">
        <div class="col col-md-1 d-none d-lg-block"></div>
        <div class="col col-md-10 col-sm-12">
          <br>
            <%= yield %>
        </div>
        <div class="col col-md-1 d-none d-lg-block"></div>
      </div>
          
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
