<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="grad text-dark">
    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>
    <div>
      <div class="row ">
        <div class="col col-md-1"></div>
        <div class="col col-md-10">
            <%= yield %>
        </div>
        <div class="col col-md-1"></div>
      </div>
          
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
