<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>

  </head>

  <body class="grad text-dark">

    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>
    <div>
      <div class="row ">
        <div class="col col-md-2  col-sm-1 col-1"></div>
        <div class="col col-md-8 col-sm-10 col-10">
          <br>
            <%= yield %>
        </div>
        <div class="col col-md-2 col-sm-1 col-1"></div>
      </div>
          
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
